body {
  margin: 0;
  font-family: 'azo-sans-web', sans-serif;
  font-weight: 300;
  font-size: 21px;
}

p {
  line-height: 1.476;
}

.container {
  position: relative;
  max-width: 600px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  position: relative;
  padding: 64px 0;
  background: url('../img/triangles.svg') right bottom no-repeat;
  background-size: cover;
  color: #fff;
  font-size: 48px;
  font-weight: 200;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.header:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(8, 64, 100, 0.5);
}

.photo {
  margin: 0 auto 32px;
  width: 128px;
  height: 128px;
  border-radius: 2px;
  overflow: hidden;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  background-image: url('../img/me.jpg');
  background-size: 128px 128px;
}

@media
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
  .photo {
    background-image: url('../img/me@2x.jpg');
  }
}

.body {
  position: relative;
  padding: 64px 0;
}

.body :first-child {
  margin-top: 0;
}

.body :last-child {
  margin-bottom: 0;
}

.inactive {
  opacity: 0.3;
  pointer-events: none;
}
